body {
    background: #ff914d26;
    font-family: 'Noto Sans';
}

h1 {
    margin: 4rem;
    margin-bottom: 3rem;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-family: 'Noto Sans';
    font-size: 2rem;
}

h2, h3, h4 {
    font-family: 'Noto Sans';
}

.logo {
    width: 20%;
    margin-left: 1rem;
}

.navbar {
    box-shadow: 0 3px 5px rgba(16, 16, 17, 0.3);
}

.dropdown {
    position: absolute;
    right: 2rem;
}

.footer {
    box-shadow: 3px 0 5px rgba(16, 16, 17, 0.3);
}

.carousel {
    width: 85%;
    height: 85%;
    margin: 0% auto
} 

.carouselW {
    max-width: 50%;
    max-height: 600px;
    margin: 2% auto;
    margin-bottom: 5rem;
    margin-top: 8rem;
}

.divavanttitre {
    padding: 1rem;
    margin-top: 4rem;
}

img {
    width: 100%;
    z-index: 3; 
}

li {
    padding-left: 20px;
}

.navbarbutton {
    font-family: 'noto sans';
    font-size: large;
}

.btn {
    font-family: 'noto sans';
    font-size: large;
}

.accordiondiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServicesCont {
    max-width: 100%;
    margin-top: -2rem;
}

.accordion {
    width: 50%;
    background: transparent;
}

.accordion-button {
    background-color: #c21c022b;
}

.accordion-button:focus {
    background-color: #c21c022b;
    box-shadow: none;
    border-color: rgba(182, 36, 36, 0.116);
}

.accordion-button:not(.collapsed) {
    background-color: #c22202b3;
    color: rgb(245, 245, 245);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.footer {
    justify-content: center;
}

.historique {
    margin: 0% auto;
    max-width: 60%;
    padding-top: 1rem;
}

.entrimage1 {
    width: 100%;
    height: 29rem;
    margin-top: 8.5rem;
    background-image: url(../img/aile\ cuzdani\ filtered.jpg);
    background-size: 100%;
    image-rendering: optimizeSpeed;
    background-position:center;
    background-attachment: fixed;
}

.entrimage2 {
    width: 100%;
    height: 29rem;
    margin-top: 8.5rem;
    background-image: url(../img/tampon.jpg);
    background-size: 100%;
    image-rendering: optimizeSpeed;
    background-position:center;
    background-attachment: fixed;
}

.entrimage3 {
    width: 100%;
    height: 29rem;
    margin-top: 5rem;
    background-image: url(../img/deux-passeports-turcs.jpg);
    background-size: 100%;
    image-rendering: optimizeSpeed;
    background-position:center;
    background-attachment: fixed;
}

.CVCont {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titleContact {
    margin: 2rem;
}

.containerContact {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;
    padding-top: 8rem;
    display: flex;
    z-index: 2;
    justify-content: center;
    margin-bottom: 2rem;
}

.infosContact {
    max-width: 50%;
    min-width: 30%;
    padding-left: 4rem;
    position: relative;
}

.pInfos {
    margin-bottom: 0;
}

.ContacTextBRdiv {
    bottom: 0;
    justify-self: center;
    position: absolute;
    padding-bottom: 0.5rem;
}

.emptyDiv {
    height: 1rem;
}

.SMlogos {
    width: 1.8rem;
    margin-right: 30px;
}

.viendez {
    font-size: x-large;
}

.signature {
    font-size: small;
}

.BSCCont {
    position: relative;
}

.footer {
     align-items: flex-end;
 }

	/* Whole html box designing */
	html {
		box-sizing: border-box;
	}
		
	/* Box sizing depending on parent */
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
		
	/* Styling column */
	.column {
		width: 53%;
		margin-bottom: 8rem;
	}
		
	/* Column width change depends
		on screen size */
	@media screen and (max-width: 670px) {
		.column {
			width: 100%;
			text-align: none;
		}
	}
		
	/* Card designing */
	.card {
        background: #292b2c23;
	}
		
	.containerNEW {
		padding: 0 16px;
	}
		
	/* Button designing */
	.button {
		border: none;
		padding: 8px;
		color: white;
		background-color: #3f3f3f;
		text-align: center;
		cursor: pointer;
		width: 100%;
		margin-bottom: 10px;
	}
		
	/* Hover efect on button */
	.button:hover {
		background-color: rgb(178, 216, 12);
	}
	
	/* Margin first member of team */
	#gfg {
		float: none;
		margin: auto;
	}





@media only screen and (max-width: 990px) {
    body {
      background-color: lightblu;
    }

  
    .carousel {
        width: 100%;
        height: 100%;
        margin: 0% auto
    } 
    
    .carouselW {
        max-width: 90%;
        max-height: 600px;
        margin: 2% auto;
    
    }

    .historique {
        margin: 0% auto;
        max-width: 90%;
        padding-top: 1rem;
    }

    .containerContact {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
        padding-top: 1rem;
        display: block;
        text-align: center;
    }
    
    .infosContact {
        max-width: 100%;
        text-align: center;
        padding-left: 0rem;
        display: block;
    }

    .ContacTextBRdiv {
        bottom: 0;
        text-align: center;
        padding-bottom: 0.5rem;
        position: inherit;
        margin-left: 0% auto;
        margin-right: 0% auto;
    }

    .pInfos {
        text-align: center;
        margin-bottom: 0;
    }
    
    .emptyDiv {
        height: 1rem;
    }

    
    .entrimage1 {
        width: 100%;
        height: 29rem;
        margin-top: 8.5rem;
        background-image: url(../img/aile\ cuzdani\ filtered.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage2 {
        width: 100%;
        height: 29rem;
        margin-top: 8.5rem;
        background-image: url(../img/tampon.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage3 {
        width: 100%;
        height: 29rem;
        margin-top: 5rem;
        background-image: url(../img/deux-passeports-turcs.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }

  }
  








@media only screen and (max-width: 660px) {
    body {
      background-color: lightpin;
    }

    .carousel {
        width: 100%;
        height: 100%;
        margin: 0% auto
    } 
    
    .carouselW {
        max-width: 100%;
        max-height: 600px;
        margin-top: -1rem;
    }

    .historique {
        margin: 0% auto;
        max-width: 90%;
        padding-top: 1rem;
    }

    
    .entrimage1 {
        width: 100%;
        height: 20rem;
        margin-top: 8.5rem;
        background-image: url(../img/aile\ cuzdani\ filtered.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage2 {
        width: 100%;
        height: 20rem;
        margin-top: 8.5rem;
        background-image: url(../img/tampon.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage3 {
        width: 100%;
        height: 20rem;
        margin-top: 5rem;
        background-image: url(../img/deux-passeports-turcs.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
}