body {
    background: #ff914d25;
    font-family: 'Noto Sans';
}

h1 {
    margin: 4rem;
    margin-bottom: 3rem;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-family: 'Noto Sans';
    font-size: 2rem;
    font-weight: bold;
}

h2, h3, h4 {
    font-family: 'Noto Sans';
}

a {
    color: white;
  }

a:hover {
    color: #B5390E;
  }

.logo {
    width: 20%;
    margin-left: 1rem;
}

.navbar {
    box-shadow: 0 3px 5px rgba(16, 16, 17, 0.3);
}

.phover:hover {
    color: #ff4000;
}

.dropdown {
    position: absolute;
    right: 2rem;
}

.footer {
    box-shadow: 3px 0 5px rgba(16, 16, 17, 0.3);
}

.footerCentralDiv {
    width: 33.33%;
}

.footerLeftDiv {
    width: 33.33%;
}

.footerRightDiv {
    width: 33.33%;
}

.carousel {
    width: 85%;
    height: 85%;
    margin: 0% auto
} 

.carouselW {
    max-width: 50%;
    max-height: 600px;
    margin: 2% auto;
    margin-bottom: 5rem;
    margin-top: 8rem;
}

.divavanttitre {
    padding: 1rem;
    margin-top: 4rem;
}

img {
    width: 100%;
    z-index: 3; 
}

li {
    padding-left: 20px;
}

.navbarbutton {
    font-family: 'noto sans';
    font-size: large;
}

.btn {
    font-family: 'noto sans';
    font-size: large;
    border: none;
}

.btn:hover {
    font-family: 'noto sans';
    font-size: large;
    background-color: #B5390E;
    border: none;
    color: white;
}

.dropdowntxt:hover {
    color: black;
}

.accordiondiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServicesCont {
    max-width: 100%;
    margin-top: -2rem;
}

.accordion {
    width: 50%;
    background: transparent;
}

.accordion-button {
    background-color: #c21c0216;
}

.accordion-button:focus {
    background-color: #c21c022b;
    box-shadow: none;
    border-color: rgba(182, 36, 36, 0.116);
}

.accordion-button:not(.collapsed) {
    background-color: #c22202b3;
    color: rgb(245, 245, 245);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg)
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.historique {
    margin: 0% auto;
    max-width: 60%;
    padding-top: 1rem;
}

.entrimage1 {
    width: 100%;
    height: 52vh;
    margin-top: 8.5rem;
    background-image: url(../img/aile\ cuzdani\ filtered.jpg);
    background-size: 100%;
    image-rendering: optimizeSpeed;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.entrimage2 {
    width: 100%;
    height: 52vh;
    margin-top: 8.5rem;
    background-image: url(../img/tampon.jpg);
    background-size: 100%;
    image-rendering: optimizeSpeed;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.entrimage3 {
    width: 100%;
    height: 52vh;
    margin-top: 5rem;
    background-image: url(../img/deux-passeports-turcs.jpg);
    background-size: 100%;
    image-rendering: optimizeSpeed;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.CVCont {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titleContact {
    margin: 2rem;
}

.containerContact {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;
    padding-top: 8rem;
    display: flex;
    z-index: 2;
    justify-content: center;
    margin-bottom: 2rem;
}

.infosContact {
    max-width: 50%;
    min-width: 30%;
    padding-left: 4rem;
    position: relative;
}

.pInfos {
    margin-bottom: 0;
}

.ContacTextBRdiv {
    bottom: 0;
    justify-self: center;
    position: absolute;
    padding-bottom: 0.5rem;
}

.emptyDiv {
    height: 1rem;
}

.SMlogos {
    width: 1.8rem;
    margin-right: 30px;
    filter: brightness(0) invert(1);
}

.SMlogos:hover {
    filter: none;
}

.viendez {
    font-size: x-large;
    text-align: center;
}

.mail {
    text-align: center;
    margin-top: -1rem;
}

.signature {
    font-size: small;
    text-align: end;
}

	/* Whole html box designing */
	html {
		box-sizing: border-box;
	}
		
	/* Box sizing depending on parent */
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
		
	/* Styling column */
	.column {
		width: 65vh;
		margin-bottom: 10vh;
        display: flex;
        align-content: center;
	}
		
	/* Card designing */
	.card {
        background: #ff672b23;
        width: 90vw;
        align-self: auto;
	}
		
	.containerNEW {
		padding: 2rem;
	}





@media only screen and (max-width: 990px) {
    body {
      background-color: lightblu;
    }

  
    .carousel {
        width: 100%;
        height: 100%;
        margin: 0% auto
    } 
    
    .carouselW {
        max-width: 90%;
        max-height: 600px;
        margin: 2% auto;
    }
    
    .historique {
        margin: 0% auto;
        max-width: 90%;
        padding-top: 1rem;
    }
    
    .containerContact {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
        padding-top: 1rem;
        display: block;
        text-align: center;
    }
    
    .infosContact {
        max-width: 100%;
        text-align: center;
        padding-left: 0rem;
        display: block;
    }
    
    .ContacTextBRdiv {
        bottom: 0;
        text-align: center;
        padding-bottom: 0.5rem;
        position: inherit;
        margin-left: 0% auto;
        margin-right: 0% auto;
    }
    
    .pInfos {
        text-align: center;
        margin-bottom: 0;
    }
    
    .emptyDiv {
        height: 1rem;
    }
    
    
    .entrimage1 {
        width: 100%;
        height: 29rem;
        margin-top: 8.5rem;
        background-image: url(../img/aile\ cuzdani\ filtered.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage2 {
        width: 100%;
        height: 29rem;
        margin-top: 3rem;
        background-image: url(../img/tampon.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }
    
    .entrimage3 {
        width: 100%;
        height: 29rem;
        margin-top: 5rem;
        background-image: url(../img/deux-passeports-turcs.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }
    
}




@media only screen and (max-width: 660px) {
    body {
        background-color: lightpin;
    }

    .logo {
        width: 3rem;
        margin-left: 1rem;
    }
    
    .carousel {
        width: 100%;
        height: 100%;
        margin: 0% auto
    } 
    
    .carouselW {
        max-width: 100%;
        max-height: 600px;
        margin: 5rem auto;
    }
    
    .historique {
        margin: 0% auto;
        max-width: 90%;
        padding-top: 1rem;
    }
    
    
    .entrimage1 {
        width: 100%;
        height: 20rem;
        margin-top: 8rem;
        background-image: url(../img/aile\ cuzdani\ filtered.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage2 {
        width: 100%;
        height: 30rem;
        margin-top: 2vh;
        background-image: url(../img/tampon.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
    
    .entrimage3 {
        width: 100%;
        height: 20rem;
        margin-top: 2vh;
        background-image: url(../img/deux-passeports-turcs.jpg);
        background-size: 100%;
        image-rendering: optimizeSpeed;
        background-position:center;
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        border-width: 10rem;
        border-color: yellowgreen;
        display: inline-block;
    }
    .footerCentralDiv {
        width: 33.33%;
    }
    
    .footerLeftDiv {
        width: 10%;
    }
    
    .footerRightDiv {
        width: 33.33%;
    }
}